/* THIS KEEPS THE FOOTER AT THE BOTTOM.  I DON'T KNOW IF IT WILL AFFECT THE BODY OR NAV BAR THOUGH. */
body {
    
  }

  main {
    flex: 1 0 auto;
  }

  .big-img {
    /* The image used */
    background-image: url("../images/Canyonlands_National_Park.jpg");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
}
  .big-winter-img {

     /* The image used */
     background-image: url("");
  
     min-height: 380px;
   
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   
     /* Needed to position the navbar */
     position: relative;
  }

#nav-mobile, .brand-logo{
    font-family: 'Italiana', serif;
}

.main-container{
    background-image: url("/assets/images/Best-of-Park-city-main-street.jpg");
    min-height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    #logo{
        font-family: 'Vidaloka', serif;
        font-size: 50px;
    }

    #ski-sb-container, #snowmobile-container,
    #tubing-container, #dog-sledding,
    #mainstreet-shopping {
padding-bottom: 35px;
};
