body{

}
.big-img {
    /* The image used */
    background-image: url("../images/Canyonlands_National_Park.jpg");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
}

#nav-mobile, .brand-logo{
    font-family: 'Italiana', serif;
}

.main-container{
    background-image: url("../images/Best-of-Park-city-main-street.jpg");
    min-height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    #logo{
        font-family: 'Vidaloka', serif;
        font-size: 50px;
    }




